@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

:root {
    --color--background: rgba(39, 27, 54, 0.68);
    --color--background-paneles: rgba(43, 32, 68, 0.8);
    --color--background-footer: #12073c;
    --color--highlight: #90bbf0;
    --color--texto--panel:#8ab5c8;
    --color--texto--secundario:#0d0937;
    --color--texto:rgb(219, 228, 247);    
    --color--hover-mainbtn: #4672e3;
    --color--hover-btn: #a180c1;
    --color--validation: rgba(15, 16, 109, 0.8);
}

body {
    background-image: url(../img/TecnoPurpple.png);
}
nav {
    height: 10vh;
    padding: 10px;
    background-color: var(--color--background-header);
}
main {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
    height: 80vh;
    gap: 2.5rem;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: var(--color--texto);
    background-color: var(--color--background-footer);
}

.panel__ingreso{
    color: var(--color--highlight);   
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 40%;
    padding: 1rem;
}
.panel__ingreso__textarea {
    color: var(--color--texto--panel);   
    font-family: "inter", sans-serif;
    font-size: 2rem;
    height: 70vh;
    border:none;
    background-color: unset;
    outline:none;
}
.panel__ingreso__textarea::placeholder {
    color: var(--color--texto--panel);
    font-size: 2rem;
}

.panel__ingreso__botonera {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.panel__ingreso__acciones {
    display: flex;
    justify-content: space-between;
}
.panel__ingreso__validacion {
    display: flex;
    align-items: center;
}
.panel__resultado {
    color:var(--color--texto--panel);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    width: 20%;
    background-color: var(--color--background-paneles);
    border-radius: 2rem;
}
.panel__resultado__contenido {
    display:flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
}
.panel__resultado__contenido p {
    text-align: center;
}
.panel__resultado__imagen {
    width:  100%;
}
.button__encriptar {
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color--highlight);
    background-color: var(--color--highlight);
    color: var(--color--texto--secundario);
}
.button__encriptar:hover {
    border: 1px solid var(--color--hover-mainbtn);
    background-color: var(--color--hover-mainbtn);
    color: var(--color--texto);
}
.button__desencriptar {
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color--highlight);
    color: var(--color--texto--secundario);
}
.button__desencriptar:hover {
    border: 1px solid var(--color--hover-btn);
    background-color: var(--color--hover-btn);
    color: var(--color--texto);
}
.button__copiar {
    width: 80%;
    height: 3rem;
    display: none;
    border-radius: 1.5rem;
    border: 1px solid var(--color--background-paneles);
    color: var(--color--texto--secundario);
}
.resultado__encriptado {
    font-size: 1.5rem;
    font-family: "inter", sans-serif;
}




@media (max-width: 768px){
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:unset;
        gap:2rem;    
    }
    .panel__ingreso{
        width: 80%;    
    }
    .panel__resultado {
        width: 80%; 
        margin-bottom: 6vh;
    }
    .panel__resultado__imagen {
        display: none;
        width:  0%;
    }



}

@media (max-width: 400px){
    
    .panel__ingreso{
        width: 90%;    
    }
    .panel__ingreso__textarea {
        height: 50vh;
    }
    .panel__resultado {
        width: 90%; 
        margin-bottom: 10vh;
    }
    
    .panel__ingreso__acciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .button__encriptar {
        width: 100%;
    }
    .button__desencriptar {
        width: 100%;
    }
}